 .top-container{
    background-color: #E4F9F5;
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 20px;
} 
body{
    margin:0 auto;
    background-color: #BFDCE5;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.625rem;
    color:  #66BFBF;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color:  #66BFBF;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 2.5rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.bottom-cloud{
    position: absolute;
    left: 150px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 150px;
    top: 20px;
}
.middle-container{
  }
.bottom-container{
    
} 
.btn{
    color: #11999E;
}
.footer-link{
    color:#11999E
}
.skill-row{
    width: 50%;
    margin: 80px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skills{
    
}
.chilli-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.computer-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.profile{
    width: 50%;
    margin: 50px auto 50px auto;
}
